{% extends "base-registration.html" %}

{% block title %}Password Reset{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

{% if validlink %}
<h2>Enter new password</h2>
<div id="panel">
	<form action="" method="post">{% csrf_token %}
		<label for="id_new_password1">New password:</label>&nbsp;<span class="form_errors">{{ form.new_password1.errors|striptags }}</span><br>
		{{ form.new_password1 }}<br>
		<label for="id_new_password2">Confirm password:</label>&nbsp;<span class="form_errors">{{ form.new_password2.errors|striptags }}</span><br>
		{{ form.new_password2 }}<br>
		<input type="submit" value="Change my password" id="submitbutton" />
	</form>
</div>

{% else %}
<h2>Password reset unsuccessful</h2>
<p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
{% endif %}

{% endblock %}


